.signupContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
}
.formContainerSignUp {
  width: 450px;
  border-radius: 25px;
}
.titleSignUp {
  display: flex;
  justify-content: center;
}
.groupTextSignUp {
  display: flex;
  justify-content: space-between;
}
.textfieldSignUp {
  margin: 1rem 5px;
}
.buttonSignUp {
  margin: 2rem;
}